.x-menuLateral{
    width: 80px;
    height: 100%;
    max-width: 100%;
    background: @p-dark;
    .align-v();
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    margin-top: -10px;
    &__logo{

    }
    span{
        width: 60px;
        height: 60px;
        display: flex;
        background: @p-dark;
        justify-content: center;
        align-items: center;
        margin: 10px;
        cursor:pointer;
        &:hover{
            background: @p-color;
            border-bottom-left-radius: 40%;
            border-top-left-radius: 40%;
            width: 95%;
            margin-right: 0%;
        }
    }
    .is--active{
        background: @p-color;
        border-bottom-left-radius: 40%;
        border-top-left-radius: 40%;
        width: 95%;
        margin-right: 0%;
    }
}