.x-subMenu{
    width: 250px;
    height: 90%;
    overflow-y: auto;
    max-width: 250px;
    position: absolute;
    left:80px;
    background: @p-color;
    z-index: 1;
    &::-webkit-scrollbar{width: 10px;}
    &::-webkit-scrollbar-button{background-color: @p-dark;height: 10px;}
    &::-webkit-scrollbar-track-piece{background-color: @p-color;}
    &::-webkit-scrollbar-thumb{background-color: @p-dark;}
    .is--active{
        &__focus{
            background-color: @p-dark;
        }
    }
    span{
        background: @p-color;
        width: 100%;
        height: 50px;
        font-size: @f-large;
        .align-h();
        .align-v();
        font-family: @serif;
        cursor: pointer;
        color: @white;
        &:hover{
            background: @p-dark;
        }
    }
}
.is--active{
    &__subMenu{
        animation: @sanfona @rapido linear;
    }
    &__span{
        animation: @walkLeft @hyperRapido linear;
    }
}