<section class="x-login--principal">
  <div class="x-login--principal__container">
      <img src="../../assets/img/logo2.png" alt="logo-viajanet">
      <input type="text" [(ngModel)]="username.nome" class="inputs-text2" placeholder="Digite seu login" id="username-primary" value='alansantos'>
      <input type="password" [(ngModel)]="username.senha" class="inputs-text2" placeholder="Digite sua senha" id="password-primary" value='123alan'>
      <a (click)="abrirModal('sign_up')">Não tenho cadastro</a>
      <button class="button1" (click) = "fazerLogin()" type="submit">ACESSAR</button>
  </div>
  <app-modal-sign-up></app-modal-sign-up>
  <app-modal-sucess-sent></app-modal-sucess-sent>
</section>
