<section class="x-subMenu" *ngIf="sub_menu === true" [class.is--active__subMenu] = "sub_menu === true">
  <div *ngIf="menu === 'criar-paginas'" [class.is--active__span] = "menu === 'criar-paginas'">
      <span (click)="onselect('White Label')" [class.is--active__focus] = "select === 'White Label'">White Label</span>
      <span (click)="onselect('Landing Page')" [class.is--active__focus] = "select === 'Landing Page'">Landing Page</span>
      <span (click)="onselect('Static Page')" [class.is--active__focus] = "select === 'Static Page'">Static Page</span>
  </div>
  <div *ngIf="menu === 'configuracoes'" [class.is--active__span] = "menu === 'configuracoes'" [style.top.%]="200">
      <span (click)="onselect('Configuracoes')" [class.is--active__focus] = "select === 'Configuracoes'">Configurações</span>
  </div>
</section>