<section class="x-menuLateral">
    <span id="criar-paginas" (mouseover) = "show('criar-paginas')" [class.is--active]="menu === 'criar-paginas'">
        <img src="../../../../assets/img/pencil.png" alt="">
    </span>
    <span id="configuracoes" (mouseover)="show('configuracoes')" [class.is--active]="menu === 'configuracoes'">
        <img src="../../../../assets/img/config.png" alt="">
    </span>
</section>