.button1{
    width: 200px;
    height: 40px;
    border: none;
    color: @white;
    margin-top: 20px;
    background: @p-color;
    cursor: pointer;
    transition: @hyperRapido;
    -webkit-transition: @muitoRapido;
    text-transform: uppercase;
    &:hover{
        background: @s-color;
        transform: scale(0.95);
    }
}