.input-file1{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    margin-top: 10px;
    background: @p-color;
    color: @white;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border-bottom-right-radius: 0.25em;
    border-top-right-radius: 0.25em;
    transition: @muitoRapido;
    width: 30%;
    &:hover{
        background: @s-color;
    }
}