.inputs-text1{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: @font-color1;
    background-color: @white;
    background-clip: padding-box;
    border: 1px solid @gray-light;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-sizing: border-box;
    outline: none;
    &:focus{
        transition: @hyperRapido;
        box-sizing: border-box;
        box-shadow: 5px 5px 6px rgba(0,0,0,.2);    
    }
}
.inputs-text2{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: @font-color1;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid @gray-light;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-sizing: border-box;
    outline: none;
    &:focus{
        transition: @rapido;
        box-sizing: border-box;
        border-color: @p-color;
        color: @p-color;
        &::-webkit-input-placeholder{
            transition: @muitoRapido;
            color: @p-color;
        }
    }
}