@p-color: #0164BF;
@p-dark: #004987;
@s-color: #FFA600;
@t-color: #00f;

@black: #000;
@gray: #ccc;
@white: #fff;
@gray-dark:#333;
@gray-light:#ced4da;

@font-color1: #555;
@font-color2: #999;

@sombra: rgba(0,0,0,0.4);