//Import fonts

@import (css) url('https://fonts.googleapis.com/css?family=Roboto:100,400,700,900');

// Font-size

@f-small: 10px;
@f-normal:12px;
@f-medium:14px;
@f-large:16px;
@f-xs: 22px;

//Style font

@serif: sans-serif;
@roboto: 'Roboto', sans-serif;