// Keyframes

@keyframes modalZoom{
    from{transform: scale(0);}
    to{transform: scale(1);}
}
@keyframes modalZoom2{
    from{transform: scale(0);left:-400px;bottom: -1000px;}
    to{transform: scale(1);;left:0px;bottom: 0px;}
}
@keyframes zoomOut{
    to{transform: scale(0.92);}
}
@keyframes zoomIn{
    to{transform: scale(1.10);}
}
@keyframes sanfona{
    from{width: 0%;}
    to{width:100%}
}
@keyframes andarEsquerda{
    from{margin-left: -1000px;}
    to{margin-left: 0px;}
}

// Animation

@maisZoom: zoomIn;
@menosZoom: zoomOut;
@sanfona: sanfona;
@walkLeft: andarEsquerda;
@modalShow: modalZoom;
@modalHide: modalZoom2;

// Velocidade

@hyperRapido: 0.2s;
@muitoRapido: 0.4s;
@rapido: 1s;
@poucoRapido: 2s;
@poucoLento: 4s;
@lento: 6s;
@muitoLento: 8s;
@hyperLento: 15s;
