<!--The content below is only a placeholder and can be replaced.-->
<app-header *ngIf = "mostrarMenu"></app-header>
<main class="x-main" [style.background] = "backgroundBody">
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>

