@import "./settings/__base.less";
@import "./components/base.less";
@import "./commons/base-commons.less";
@import "./modal/base-modais.less";
@import "./estilos/base-estilos.less";
@import "./login/base_login.less";

*{
    margin: 0;
    padding: 0;
    font-family: @roboto;
}
.x-main{
    width: 100%;
    height: auto;
    display: flex;
    min-width: 900px;
    justify-content: center;
    background-color: @gray;
    background: url("../img/cidade.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    min-height: 937px;
}