.x-login{
    &--principal{
        display: flex;
        align-items: center;
        margin-top: 50%;
        &__container{
            width: 300px;
            height: 400px;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            padding: 0 30px;
            border: solid 1px @gray-light;
            box-shadow: 5px 5px 6px rgba(0,0,0,.2);
            background: rgba(255,255,255,.92);
            img{
                margin-top: -10px;
                margin-bottom: 40px;
                width: 250px;
            }    
            input{
                margin-bottom: 20px;
            }
            a{
                color: @p-color;
                text-decoration: none;
                font-family: @roboto;
                font-size: @f-normal;
                cursor: pointer;
                &:hover{
                    color:@s-color;
                }
            }
        }
    }
}