<div class="x-sucess--save" *ngIf="modalAtivo === 'sucess_sent'">
  <span (click)="abrirModal('fechar')">X</span>
  <img src="../../assets/img/sent.png" alt="sucesso">
  <h4>Enviado com sucesso!</h4>
</div>