.align-v {
  display: flex;
  align-items: center;
}
.align-h {
  display: flex;
  justify-content: center;
}
@keyframes zoomOut {
  to {
    transform: scale(0.92);
  }
}
@keyframes zoomIn {
  to {
    transform: scale(1.1);
  }
}
.x-conteudo {
  padding: 0px 20px 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.x-conteudo input[type=text] {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
}
.x-conteudo__menuTabs {
  display: flex;
}
.x-conteudo__menuTabs input[type=radio] {
  -webkit-appearance: none;
}
.x-conteudo__menuTabs label {
  max-width: 250px;
  min-width: 150px;
  width: 25%;
  height: 50px;
  background: #0164BF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #004987 solid 2px;
  color: #fff;
}
.x-conteudo__menuTabs label:hover {
  background: #004987;
  cursor: pointer;
}
.x-conteudo__container .x-toggles {
  display: flex;
  align-items: center;
}
.x-conteudo__container .x-toggles h5 {
  color: #999;
  font-size: 16px;
  font-family: sans-serif;
  margin-left: 10px;
  font-weight: lighter;
}
.x-conteudo__container .x-h4 {
  font-size: 22px;
  font-family: sans-serif;
  color: #555;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}
.x-conteudo .x-saveButton {
  width: 200px;
  height: 40px;
  border: none;
  color: #fff;
  margin-top: 20px;
  background: #0164BF;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.4s;
}
.x-conteudo .x-saveButton:hover {
  background: #FFA600;
  transform: scale(0.95);
}
.x-conteudo .x-fileLabel {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.x-conteudo .x-fileLabel .x-span--arquivo {
  width: 70%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25em;
  display: flex;
  align-items: center;
  color: #555;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
}
.x-conteudo .x-fileLabel .x-label--file {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  margin-top: 10px;
  background: #0164BF;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  border-bottom-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
  transition: 0.4s;
}
.x-conteudo .x-fileLabel .x-label--file:hover {
  background: #FFA600;
}
.x-conteudo .x-fileLabel .x-label--file img {
  width: 32px;
  margin: 10px;
}
.x-conteudo__file {
  display: none;
}
.x-conteudo .x-colors {
  height: 50px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-top: 15px;
  background: #0164BF;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.x-conteudo .x-colors:hover {
  background: #FFA600;
}
.x-conteudo .x-colors label {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 0 10px 0;
  display: block;
  width: 100%;
  cursor: pointer;
}
.x-conteudo .x-colors input {
  border: none;
  background: none;
  width: 100%;
  outline: none;
  cursor: pointer;
}
.x-conteudo #tab-2 {
  display: none;
}
.x-conteudo #tab-3 {
  display: none;
}
.x-conteudo #tab-4 {
  display: none;
}
.x-conteudo__inputs {
  margin-top: 20px;
}
.x-menuLateral {
  overflow: auto;
  width: 200px;
  height: 100%;
  max-width: 100%;
}
.x-menuLateral span {
  background: #004987;
  width: 100%;
  height: 40px;
  font-size: 14px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  cursor: pointer;
  color: #fff;
}
.x-menuLateral span:hover {
  background: #FFA600;
}
.x-menuLateral .is--active {
  background: #FFA600;
}
.x-header {
  width: 100%;
  height: 70px;
  background: #fff;
  padding: 10px 20px;
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.x-header .x-span--name {
  font-size: 22px;
  font-weight: bold;
  border-left: solid 2px #999;
  padding: 0 10px;
  color: #999;
  font-family: sans-serif;
  margin-left: 30px;
}
.x-sucess--save {
  width: 500px;
  position: fixed;
  height: 300px;
  background: #fff;
  top: 20%;
  box-sizing: content-box;
  right: 20%;
  border-radius: 4px;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}
.x-sucess--save span {
  position: absolute;
  top: 5px;
  right: 10px;
  font-family: cursive;
  font-weight: bold;
  color: #004987;
  cursor: pointer;
}
.x-sucess--save img {
  width: 100px;
  margin-bottom: 30px;
}
.x-sucess--save h4 {
  color: #333;
  font-weight: bold;
  font-family: sans-serif;
}
.inputs-text1 {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
}
.input-file1 {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  margin-top: 10px;
  background: #0164BF;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  border-bottom-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
  transition: 0.4s;
}
.input-file1:hover {
  background: #FFA600;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background-color: #FFA600;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #FFA600;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0164BF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch .round {
  border-radius: 34px;
}
.switch .round:before {
  border-radius: 50%;
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.x-main {
  width: 100%;
  height: auto;
  display: flex;
  min-width: 900px;
}
body{
  background-image: url("../img/background-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
